body{
    background-color: black;
}
#main{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#second{
    color: yellow;
}